.body-class{
    font-family: 'Montserrat', sans-serif;
}
.fix-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-class{
    background-color: rgb(40, 151, 68);
    height: 3rem;
    
}
nav{
    display: flex;
    background-color: rgb(40, 151, 68);
    padding: 0.5rem 1.5rem ;
    align-items: center;
    height: 3rem;
}

.img-logo{
    height: 2rem;
    margin-top: 5px;
    
}

.logo{
    position: fixed;
    top: 10px;
    left: 10px;

}

.nav-list{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-inline-start: 0px; 
}

.link-nav{
    text-decoration: none;
    color: aliceblue;
    padding: 1.41rem;

    transition: background-color 0.5s;
}
.link-nav:hover{
    color: rgb(20, 85, 17);
    background-color: aliceblue;
}

li{
    list-style: none;
    

}

input{
    height: 2rem;
}

.titulo{
    color:rgb(5, 94, 39);
    font-size: xx-large;
}
span{
    font-weight: lighter;
    color: rgb(8, 126, 53);
}

video{
    height: 20rem;
    width: 36rem;
}

.publish{
    display: flex;
    width: 70%;
    margin: 8rem auto;
    align-items: center;
    margin-bottom: 5rem;
    
    
}
.lado-derecho{
    margin-top: -1.5rem;
    margin-left: 1rem;
}
.video-container{
    flex-direction: column;
}
.container{
    background-color: rgb(91, 182, 95);
    margin: auto 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 10px;
    
}

.titulo-conv{
    font-size: xx-large;
    color: aliceblue;
}
.text-conv{
    color: white;
    font-size: larger;
}
.img-conv{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.conv{
    width: 70%;
    padding: 1rem;
}
.test{
    background-color: aliceblue;
    height: 440px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    padding: 1rem;
}
.text-test{
    color: rgb(36, 36, 36);
    justify-content: center;
    width: 90%;
    margin: 1rem;
}

.car{
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 50% 50%;
    margin: 0.5rem;
    background-color: rgb(252, 243, 243);
    height: 90%;
    width: 90%;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.04);
    border-radius: 10px;   
}
.cont-grid{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.feact-grid{
    margin-top: 2rem;
    display: grid;
   /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;*/
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    width: 80%;
    height: 300px;
}
.grid-title{
    margin-left: 1rem;
    font-size: x-large;
}

.grid-text{
    margin-left: 1.5rem;
    font-size: medium;
    grid-row: 2;
}
.img-grid{
    max-height: 150px;
    height: 100%;
    width: 100%;
    grid-row: 1/3;
    position: relative;
    right: end;
    top:center;
    border-radius: 10px;
    object-fit: cover;
}
.link-promo{
    color: rgb(89, 177, 94);
    text-decoration: none;
    transition: color 0.5s;
}
.link-promo:hover{
    color: rgb(61, 121, 64);
}

.blur{
    backdrop-filter: blur(10px);
}

footer{
    background-color: antiquewhite;
    height: 300px;
    position: relative;
    z-index: -1;
    margin: auto -8px -8px -8px;
}

.abrir{
    display: none;
} 

.active{
    color:rgb(181, 219, 194);
}


/* Estilos para celular */
@media (max-width : 620px) {
    .container{
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0.5rem;
    }
    
    .conv{
        width: 90%;
    }

    .feact-grid{
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        width: 90%;
        flex-direction: column;
        height: auto;
    }

    .publish{
        width: 90%;
        flex-direction: column;
        margin:auto;
        margin-bottom: 1.5rem;
        margin-top: 6rem;
    }

    video{
        height: auto;
        width: 100%;
    }

    .img-grid{
        max-height: max-content;
    }
    .car{
        grid-template-rows: 5rem 5rem;
    }
    .grid-title{
        font-size: medium;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .grid-text{
        margin-left: 1rem;
        font-size: small;
    }

    .abrir{
        display: block;
        background: none;
        border: none;
        font-size: 20px;
        padding: 5px 20px;
        line-height: 20px;
        position: fixed;
        left: 80%;
        top: 1.1rem;
        z-index: 1;
        cursor: pointer;
    } 
    .abrir:hover{

    }

    .nav-principal{
        display: none;
    }
    .nav-principal{
        display: flex;
        flex-direction: column;
        align-items: end;
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
       
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0);
        overflow-y: auto;

        left:100%;
        transition: left 0.7s;
        transition: box-shadow 0.3s;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 40px;
    }

    li{
        margin: 0;
    }

    header{
        padding: 0.5rem 1.5rem ;
    }

    nav{
        height: auto;
        flex-direction: column;
    }

    .link-nav{
        display: block;
    }
    
    .nav-menu_visible{
        left: 50%;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
    }

    .link-nav:hover{
        color: rgb(20, 85, 17);
        background: none;
}
}

.contenido{
    height: 100px;
}